<div class="container">
	<div class="content has-text-centered">
		<p>
			<strong>Blog</strong> by <a href="../index.html">Dylan</a>. If you have any
			feedback or issues, please contact me via email here: <a href="index.html#contact">DylanT.Aus@gmail.com</a>
			<br/>The website uses <a href="http://bulma.io/">Bulma</a> as a framework. 
		</p>
		<p>
		<strong>&copy;</strong> Copyright 2017<a href="#"> Dylan Turner</a> All Rights Reserved.
		</p>
		<p>
			<a class="icon" href="">
				Home
			</a>
		</p>
		
	</div>
</div>
