<!doctype html>
<html lang="en">

	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110490316-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-110490316-1');
		</script>

		<meta charset="utf-8">
		<script src="https://www.w3schools.com/lib/w3.js"></script>
		<link href=" https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.css" type="text/css" rel="stylesheet" /> 
		<link href="toolsUniversal.css" type="text/css" rel="stylesheet" />
		<script type="text/javascript" src="https://use.fontawesome.com/35a8e488fd.js"></script>
		<title></title>
		<link rel="shortcut icon" href="../favicon.ico" />
			<!--Bulma Extentions Links -->
		<link rel="stylesheet" href="https://wikiki.github.io/css/documentation.css?v=201801141121">
		 <link rel="canonical" href="https://wikiki.github.io">
		<script type="text/javascript" src="https://wikiki.github.io/node_modules/bulma-extensions/bulma-quickview/dist/bulma-quickview.min.js"></script>

		
		<script type="text/javascript">


			for(i = 1; i <= 12; i++) {

				var ans = (8 * i + "<br/>");
				document.getElementById("lol").innerHTML = "8 x " + i + " = " + ans;
			}

		</script>

	</head>

	<body>
		<header>
			<nav w3-include-html="menu.html"></nav> 
			<script>
				w3.includeHTML();
			</script>
		</header>

		<section id="content">
			<p id="lol">
			</p>

		</section>

<div w3-include-html="back.html"></div>
		
		<footer  w3-include-html="footer.html" id="footer" class="footer">

		</footer>


	</body>

</html>
