
#blog{
	margin-bottom: 150px;
}

@import url(https://fonts.googleapis.com/css?family=Lato:300);
/* Hexagon Tiles */

#bkg h1 {
  font-family: 'Lato', sans-serif;
  font-size: 4em;
  font-weight: 300;
  text-align: center;
  margin: 100px 10px 0 10px;
}

.hex_row_even {
  display: inline-block;
  margin: 0 auto -275px auto;
  overflow: hidden;
}

.hex_row_odd {
  display: inline-block;
  margin: 0 auto -275px auto;
  overflow: hidden;
}

#bkg .center {
  float: left;
  margin: 20px 10px;
  width: 220px;
}

.hexagon {
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
  cursor: pointer;
  height: 440px;
  overflow: hidden;
  visibility: hidden;
  width: 220px;
}

.hex1 {
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.hex2 {
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
  height: 100%;
  position: relative;
  visibility: visible;
  width: 100%;
}

.desc {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  height: 440px;
  line-height: 1.5em;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  visibility: visible;
  width: 220px;
}
.desc.base {
  background: rgba(255, 0, 255,0.75);
}
.desc.one {
  background: rgba(0, 255, 0,0.75);
}
.desc.two {
  background: rgba(0, 153, 255,0.75);
}
.desc.three {
  background: rgba(255, 153, 0,0.75);
}
.desc h2 {
  margin: 165px 20px 0 20px;
}
.desc p {
  font-size: .5em;
  text-transform: lowercase;
}

/* end hexagons */
#bkg{
	margin-top: -100px;
}
#blog{
  margin: 0 auto;
  text-align: center;
  width: 960px;
  margin-bottom: 150px;
}
#black{
	color: black !important;
}
.dark{
	background-color: hsl(0, 0%, 21%) !important;
	color: white;
}
#cool{
	background-image: url("cool.png");
	background-size: 50% 100%;
	background-repeat: no-repeat;
	background-position: right; 
	padding-left: 100px;
}
#width{
	width: 75%;
	margin-left: 15%;
}
#test{
	opacity: 0;
	animation: fadeIn 2s ease-in-out 1 forwards;
}
.imageCredit{
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.6);
	color: white;
	padding: 10px;
	border-radius: 20px;
}
hr{
	width: 70% !important;
	margin-left: 15% !important;
}
#toTop{
	position: fixed;
	bottom: 20px;
	right: 20px;
	text-align: center;
	z-index: 5;
}
#pongImg{
	height: 70%;
	width: 60%;
	margin-left: 20%;
	margin-top: 15%;
}
#emailWarning{
	visibility: hidden;
	position: absolute;
	width: 50%;
	margin-left: 25%;
	margin-top: 25%;
}
#contact{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.relative{
	position: relative;
}
#buttons{
	position: absolute;
	bottom: 20px;
}

@keyframes fadeIn {
	to {
		opacity: 1;
	}
}

.paused{
	animation-play-state: paused !Important;
}


@keyframes slideInFromLeft {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}

.tab{
	width: 10%;
	background-color: hsl(0, 0%, 96%);
	margin-left: 45%;	
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.whiteTab{
	width: 10%;
	background-color: white;
	margin-left: 45%;	
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
#aboutMe {
	border-top: 1px solid #ddd;
}
#aboutMe .hero-body{
	opacity: 0;
	animation: fadeIn 2s ease-in-out 1 forwards;
}

}
.var{
	color: #00b0ff;
}
.varName{
	color: #00df50;
}
.objectColor{
	color: #ff8800;
}
@media (max-width: 400px) {
	pre{
		position: relative;
	}
}

pre{
	font-size: 1.5em;
	position: absolute;
	min-width: 250px;
}
#typerwriter{
	color: white;

}

/* Underline From Left */
.hvr-underline-from-left {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
	overflow: hidden;
}
.hvr-underline-from-left:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	right: 100%;
	bottom: 0;
	background: #000000;
	height: 2px;
	-webkit-transition-property: right;
	transition-property: right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
	right: 0;
}

/* navbar */
#nav{
	position: fixed;
	width: 100%;
	top: 0px;
	padding: 10px;
	padding-left: 20px;
	z-index: 999;
}
#nav-left a, #nav-right a{
	margin-right: 25px;
	color: black;
	text-align: center;
}
#nav-left{
	float: left;
}
#nav-right{
	float: right;
}
#introduction-hero .title, #introduction-hero .subtitle{
	color: white;
}
#introduction-hero{
	margin-top: 0;
	background: 
		linear-gradient(
			rgba(0, 0, 0, 0.0), 
			rgba(0, 0, 0, 0.2),
			rgba(0, 0, 0, 0.8),
			rgba(0, 0, 0, 1)
		),
		url("home.jpg") no-repeat center center fixed;
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}
.hidden{
	display: none;
}
.center{
	text-align: center;
}
.navbar-item{
	color: white;
	text-align: center ;
}

#me-img{
	position: absolute;
	height: 175px;
	width: 150px;
	left: 0;
	right: 0;
	margin: auto;
	margin-top: 50px;
	border-radius: 50%;
	background-image: url("ime.JPG");
	background-repeat: no-repeat;
}
#iBuild{
	background-color: #eee;
	border-radius: 5px;
	padding: 5px;
}
